@font-face {
    font-family:Beijing;
    src: url("Beijing.ttf");
}

@font-face {
    font-family:TNGTitle;
    src: url("TNG_Title.ttf");
}

h1, h2 {
    color:#6BE348;
    background-color:#000000;
    text-align: center;
    font-family:Beijing;
    line-height: 150%
   }

p {
    font-family: Beijing;
}
