h1{
    background:#000000;
    color:#00ff63;
    text-align:center;
    margin-bottom: 40px;
}

section{
    width: 30%;
    display: inline;
    float: left;
    margin-right: 2%;
    margin-bottom: 50px;
    margin-top: 20px;
}

footer{
    background:#000000;
    color:#00ff63;
    text-align: center;
    clear: both;
    border: hidden;
    border-radius: 35px;
    padding: 30px;
}

header{
    background: #000000;
    text-align: center;
    border: hidden;
    border-radius: 35px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

nav > a{
    box-sizing:border-box;
    background: #808080;
    color:#00ff63;
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    padding: 20px;
}

nav > a:hover{
    background:#00ff63;
    color: #808080;
}

#footerParagraph{
    margin-bottom: 40px;
}

::-moz-selection{
    background: #00ff63;
    color: #808080
}

::selection{
    background: #00ff63;
    color: #808080
}

.halfpagesection{
    width:47%;
}

.fullpagesection{
    width:100%;
}

.halfpagesection > h2, .fullpagesection > h2{
    background: #000000;
    color: #00ff63;
    border: hidden;
    border-radius: 25px;
    padding: 10px;
}

#demo{
    color:#FF0000;
    border:solid;
    display:none;
}

#styledButton{
    border-radius:50%;
    background-color:#FF0000;
    border-color:#FF0000;
    color:#FF0000;

}

#announcement{
    text-align:center;
    font-family:Arial;
    font-size:50px;
}






