h1{
    color:#00ff63;
    text-align:center;
    margin-bottom: 40px;
}

section{
    width: 30%;
    display: inline;
    float: left;
    margin-right: 2%;
    margin-bottom: 50px;
    margin-top: 20px;
}

footer{
    background:#000000;
    color:#00ff63;
    text-align: center;
    clear: both;
    border: hidden;
    border-radius: 35px;
    padding: 30px;
}

header{
    background: #000000;
    text-align: center;;
    padding: 15px;
    padding-bottom:30px;
    width: 98%;
    margin-bottom: 20px;
}

nav > a{
    box-sizing:border-box;
    background: #00ff63;
    color:#000000;
    text-decoration: none;
    padding: 20px;
}

nav > a:hover{
    background:#00ff63;
    color: #808080;
    border:none;
}

#footerParagraph{
    margin-bottom: 40px;
}

::-moz-selection{
    background: #00ff63;
    color: #808080
}

::selection{
    background: #00ff63;
    color: #808080
}

.halfpagesection{
    width:47%;
}

.fullpagesection{
    width:100%;
}

.halfpagesection > h2, .fullpagesection > h2{
    background: #000000;
    color: #00ff63;
    border: hidden;
    border-radius: 25px;
    padding: 10px;
}

#demo{
    color:#FF0000;
    border:solid;
    display:none;
}

#styledButton{
    border-radius:50%;
    background-color:#FF0000;
    border-color:#FF0000;
    color:#FF0000;

}

#announcement{
    text-align:center;
    font-family:Arial;
    font-size:50px;
}

.note{
    color:#AFAFAF;
    font-family:Verdana;
    font-size:10px;
}

#name,#email,#birth,#password,#passwordRepeat{
    margin-bottom:5px;
}

/* make this 500px-V */
@media screen and (max-width:900px){
    header{
        width:20%;
        font-size:.8em;
        float:left;
        height:100vh;
        position:fixed;
    }
    nav > a{
        display:block;
        font-size:.8rem;
    }
    .halfpagesection{
        width:70%;
        display: inline-block;
        float:right;
        margin-left:1%;
        font-size:.8rem;
    }
    .fullpagesection{
        width:70%;
        display: inline-block;
        float:right;
        margin-left:1%;
        font-size:.8rem;
    }
    footer{
        width:58%;
        display: inline-block;
        float:right;
        margin-left:1%;
        border-radius:25px;
        font-size:.8rem;
    }
    #footerParagraph{
        margin:0px;
    }
    #WD4E{
        width:50%;
    }
}


