@font-face {
    font-family: Beijing;
    src: url(Fonts/Beijing.ttf);

}

@font-face{
    font-family: Romulan;
    src: url(Fonts/Romulant.ttf);

}

header{
    background: #000000;
    text-align: center;
    border: hidden;
    border-radius: 35px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
}

header > h1{
    color:#00ff63;
    font-family:Arial, Helvetica, sans-serif;
}

nav > a{
    box-sizing:border-box;
    background: #808080;
    color:#00ff63;
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    padding: 20px;
}

nav > a:hover{
    background:#00ff63;
    color: #808080;
}
*{
    font-family: Beijing;
}


